/* <<<<<<<< HOME JSX >>>>>>>  */
.home__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
.home__container-public {
  display: grid;
  grid-template-columns: repeat(autofill, minmax(3, 1fr));
  gap: 2.5rem;
}

.home__card {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.home__card:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.home__image {
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  overflow: hidden;
  height: auto;
  object-fit: contain;
}
.home__image-public {
  margin-bottom: 1rem;
  border-radius: 1rem;
  overflow: hidden;
}

.home__content {
  margin: 2rem 0 2.6rem;
  color: var(--color-light);
  display: grid;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  .home__container{
    grid-template-columns: 1fr;
    gap: 0;
  }
  .home__content{
    width: 80%;
    margin: 2rem auto 4rem;
  }
  .home__content p {
    margin: 1rem 0 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .home__content {
    width: 95%;
    margin: 0 auto 3rem;
  }
  .home__content {
    text-align: center;
  }
  .home__content p {
    margin: 1.5rem 0;
  }
}