.container-fluid {
  background-color: #7D8F69
}

.rest-card{
  width: 18rem;
}

.rest-image {
  width: 14rem;
}

.res-card{
  height: 100vh;
}

.card-body{
  height: 100vh;
  background-color: #7D8F69;
}


.App {
  background-color: #7D8F69;
  height: 100%;
  width: 100%;
}

.card-title {
  color: #285430;
}
.card-text {
  color: #E6E5A3;
}

.btn-primary {
  color: #E6E5A3;
}

.body {
  height: 100%;
  width: 100%;
}

.login-form {
  height: 100vh;
}

.extra-options {
  position: absolute;
  bottom: 10px;
}
